<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EVS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLoginIntoServlet</display-name>
    <servlet-name>AdminLoginIntoServlet</servlet-name>
    <servlet-class>com.wipro.servletsrc.AdminLoginIntoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginIntoServlet</servlet-name>
    <url-pattern>/AdminLoginIntoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.wipro.servletsrc.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/admin_auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginIntoServlet</display-name>
    <servlet-name>LoginIntoServlet</servlet-name>
    <servlet-class>com.wipro.servletsrc.LoginIntoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginIntoServlet</servlet-name>
    <url-pattern>/login_auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ElectionDetailsIntoServlet</display-name>
    <servlet-name>ElectionDetailsIntoServlet</servlet-name>
    <servlet-class>com.wipro.servletsrc.ElectionDetailsIntoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ElectionDetailsIntoServlet</servlet-name>
    <url-pattern>/elect_details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PartyDetailsIntoServlet</display-name>
    <servlet-name>PartyDetailsIntoServlet</servlet-name>
    <servlet-class>com.wipro.servletsrc.PartyDetailsIntoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PartyDetailsIntoServlet</servlet-name>
    <url-pattern>/party_details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CandidateDetailsIntoServlet</display-name>
    <servlet-name>CandidateDetailsIntoServlet</servlet-name>
    <servlet-class>com.wipro.servletsrc.CandidateDetailsIntoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateDetailsIntoServlet</servlet-name>
    <url-pattern>/candidate_details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayElectionDetails</display-name>
    <servlet-name>DisplayElectionDetails</servlet-name>
    <servlet-class>com.wipro.servletsrc.DisplayElectionDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayElectionDetails</servlet-name>
    <url-pattern>/displayElection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayPartyServlet</display-name>
    <servlet-name>DisplayPartyServlet</servlet-name>
    <servlet-class>com.wipro.servletsrc.DisplayPartyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayPartyServlet</servlet-name>
    <url-pattern>/displayParty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayCandidateServlet</display-name>
    <servlet-name>DisplayCandidateServlet</servlet-name>
    <servlet-class>com.wipro.servletsrc.DisplayCandidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayCandidateServlet</servlet-name>
    <url-pattern>/displayCandidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDetailsIntoServlet</display-name>
    <servlet-name>UserDetailsIntoServlet</servlet-name>
    <servlet-class>com.wipro.servletsrc.UserDetailsIntoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetailsIntoServlet</servlet-name>
    <url-pattern>/User_details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestVoterIDServlet</display-name>
    <servlet-name>RequestVoterIDServlet</servlet-name>
    <servlet-class>com.wipro.servletsrc.RequestVoterIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestVoterIDServlet</servlet-name>
    <url-pattern>/RequestVoterID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewVoterIDReqServlet</display-name>
    <servlet-name>ViewVoterIDReqServlet</servlet-name>
    <servlet-class>com.wipro.servletsrc.ViewVoterIDReqServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewVoterIDReqServlet</servlet-name>
    <url-pattern>/ViewVoterIDReq</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminForwardsVoterIDServlet</display-name>
    <servlet-name>AdminForwardsVoterIDServlet</servlet-name>
    <servlet-class>com.wipro.servletsrc.AdminForwardsVoterIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminForwardsVoterIDServlet</servlet-name>
    <url-pattern>/AdminForwardsVoterID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewVoterIDForwardedServlet</display-name>
    <servlet-name>ViewVoterIDForwardedServlet</servlet-name>
    <servlet-class>com.wipro.servletsrc.ViewVoterIDForwardedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewVoterIDForwardedServlet</servlet-name>
    <url-pattern>/ViewVoterIDForwardedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewVoterIDForwardServlet</display-name>
    <servlet-name>ViewVoterIDForwardServlet</servlet-name>
    <servlet-class>com.wipro.servletsrc.ViewVoterIDForwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewVoterIDForwardServlet</servlet-name>
    <url-pattern>/ViewVoterIDForwarded</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EOApprovesReqServlet</display-name>
    <servlet-name>EOApprovesReqServlet</servlet-name>
    <servlet-class>com.wipro.servletsrc.EOApprovesReqServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EOApprovesReqServlet</servlet-name>
    <url-pattern>/EOApprovesReq</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewVoterIDGeneratedServlet</display-name>
    <servlet-name>ViewVoterIDGeneratedServlet</servlet-name>
    <servlet-class>com.wipro.servletsrc.ViewVoterIDGeneratedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewVoterIDGeneratedServlet</servlet-name>
    <url-pattern>/ViewVoterIDGenerated</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewResultsByDateServlet</display-name>
    <servlet-name>ViewResultsByDateServlet</servlet-name>
    <servlet-class>com.wipro.servletsrc.ViewResultsByDateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewResultsByDateServlet</servlet-name>
    <url-pattern>/ViewResultsByDate</url-pattern>
  </servlet-mapping>
</web-app>